/******Base******/
$theme-colors: (
  "primary": #38afbc,
  "danger": #FF5D0F
);

@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/grid";

$black: #121212;
$grey: #999999;
$light: #EEEEEE;
$primary: map_get($theme-colors, 'primary');
$danger: map_get($theme-colors, 'danger');
$small: 560px;
$medium: 768px;
$large: 960px;
$xLarge: 1700px;

html 
{
  scroll-behavior: smooth;
}

body 
{
  margin: 0; 
  color: $black;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.2em;
}

p 
{
  text-align: justify
}

li 
{
  list-style-type: none; 
  list-style-position: inside;
}

ul 
{
  padding: 0; 
}

h2
{
  font-size: 2.2rem;
}

h1, h2, h3, h4, .title
{
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
  margin-top: 0;
}

a
{
	text-decoration: none;
}

a:hover
{
  text-decoration: none;
  color: darken($primary, 10);
}

section
{
  padding-top: 70px;
}

.btn
{
  color: $primary;
  padding: 3px 7px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 2px;
  border: 2px $primary solid;
  cursor: pointer;
  margin: 12px 0;
  display: block;
  transition: all 200ms linear;
}

.btn:hover
{
  background-color: $primary;
  @if (lightness($primary) < 60%)
  {
    color: white;
  }
  @else
  {
    color: black;
  }
  transition: all 200ms linear;
}

textarea
{
  resize: none;
}

input, textarea
{
  box-shadow: none;
}

/*****Theme*****/

.title-underline
{
  background-color: $primary;
}

.menu-item
{
  color: $black;
}

.menu-item:hover
{
	color: $primary;
}

a
{
	color: $primary;
}

#accueil
{
  background-color: rgba(255, 255, 255, 0.7);
}

.separator
{
  background-color: $primary;
}

.title-container
{
  color: $black;
}

.star
{
  background-color: $light;
}

.current
{
  color: $primary;
}

.burger-bar
{
  background-color: $primary;
}

#accueil .main_links
{
  color: $primary;
}

@media (max-width: $medium)
{
  body
  {
    font-size: 0.9em;
  }
}
