.menu {
  width: 740px;
  display: flex;
  justify-content: space-between; }

.vertical
{
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	align-items: center;
	justify-content: center;
}

.vertical li
{
	margin: 24px 0;
}

.menu-item 
{
  text-decoration: none;
  text-transform: uppercase; 
  transition: all 100ms linear;
}