.vertical
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	align-items: center;
	justify-content: space-around;
}

.menu-item 
{
  text-decoration: none;
  text-transform: uppercase; 
  transition: all 100ms linear;
}