/******Base******/
body 
{
  margin: 0; 
  color: #121212;
  font-family: 'Proza Libre', sans-serif;
}

li {
  list-style-type: none; }

ul {
  padding: 0; }

.container {
  width: 65%;
  margin: auto; }

h1, h2, h3, h4, .title
{
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
}

a
{
	text-decoration: none;
}


/*****Theme*****/
.menu-item:hover
{
	color: turquoise;
}

a
{
	color: blue;
}