.technical_skills
{
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.globalSkills-container:first-child
{
	margin-bottom: 33px;
}

.globalSkills-item
{
	margin-top: 7px;
}